/**
* General setup for layout.
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Sriracha');

html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #1e88e5;
}

a:visited {
    color: #1e88e5;
}

a:hover {
    font-weight: bold;
}

input {
    padding: 0.5rem;
}

.wrap-all {
    font-family: 'Montserrat', sans-serif;
}

.figure {
    margin: 0;
    padding: 0;
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 0.5em;
}

.inner-wrap-main {
    margin: 1rem auto;
}

.clearfix {
    clear: both;
}


/**
* Header
*/
.outer-wrap-header {
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
    max-width: 100%;
    min-height: 6rem;
    background-color: #000;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}

.header a {
    color: #eee;
    vertical-align: center;
}

.header img {
    width: 4rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.region-header-col-1 {
    width: 100%;
}


/**
* Navbar
*/
.outer-wrap-navbar {
    max-width: 100%;
    min-height: 1rem;
    background-color: #1565c0;
    color: #fff;
    padding: 0;
}

.outer-wrap-navbar a {
    color: #fff;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.outer-wrap-navbar li a:hover {
    color: #ddd;
    text-decoration: none;
}

.rm-navbar li {
    font-family: 'Montserrat', sans-serif;
    background-color: #1565c0;
}

i.fa {
    padding-left: 6rem;
    padding-right: 1rem;
}



/**
* Main
*/
.outer-wrap-main {
    min-height: 40em;
    margin-bottom: 4em;
}

.region-main h1 {
    border-bottom: 1px solid #999;
}

.region-main h2 {
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 2em;
}


/**
* Table
*/
td {
    padding: 0.5rem 1rem;
}


/**
* Home tables
*/
.home-div {
    display: flex;
    justify-content: space-between;
}

.home-div .latest-questions,
.home-div .popular-tags,
.home-div .active-users {
    white-space: nowrap;
    border: 1px solid #aaa;
}

.home-div .popular-tags {
    margin: 0 2rem;
}

.home-div .latest-questions {
    flex: 1;
}

.home-div table {
    width: 100%;
    text-align: left;
}

.home-div th {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #cfd8dc;
    color: #37474f;
}


/**
* Tags
*/
.tag,
.tag a:visited {
    display: inline-block;
    background-color: #b3e5fc;
    color: #1565c0;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.tag:hover {
    background-color: #64b5f6;
}

.tag.solid:hover {
    background-color: #b3e5fc;
}


/**
* Card question
*/
.card-question,
.card-answer {
    clear: both;
    overflow: auto;
    border: 1px solid #aaa;
    margin: 1rem auto;
    padding: 1rem;
}

.card-user {
    float: left;
    width: 20%;
    text-align:center;
}

.card-user p,
.card-message p,
.card-comment p {
    margin: 0.5rem;
}

.card-message {
    float: right;
    width: 80%;
    height: 100%;

}

.card-message .card-message-date {
    text-align: right;
    padding-right: 1rem;
    background-color: #cfd8dc;
    color: #37474f;
}

.card-message .card-message-body {
    padding: 1rem;
}

.card-comment {
    float: right;
    clear: both;
    width: 70%;
    margin-bottom: 1rem;
    background-color: #eceff1;
    font-size: 0.8rem;
}

.card-comment table td {
    padding: 0;
}

.card-comment .comment-col-1 {
    width: 50%;
}

.card-comment .comment-col-2 {
    width: 10%;
    font-weight: bold;
}

.card-comment .comment-col-3 {
    width: 40%;
    color: #666;
}

.card-comment-add {
    float: right;
    text-decoration: none;
}


/**
* Card user profile
*/
.card-user-profile p {
    margin: 0;
}

.card-user-profile .part-1 {
    float: left;
    width: 20%;
}


.card-user-profile .part-2,
.card-user-profile .part-3 {
    float: left;
    width: 40%;
}


/**
* User profile tables
*/
.user-tables {
    clear: both;
    padding-top: 3rem;
}

.user-tables .user-questions,
.user-tables .user-answers,
.user-tables .user-comments {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 3rem;
}

.user-tables .user-questions th,
.user-tables .user-answers th,
.user-tables .user-comments th {
    background-color: #cfd8dc;
    color: #37474f;
}

.user-tables .table-date {
    width: 30%;
}



/**
* Buttons
*/
.button-div {
    margin: 1rem auto;
    height: 100%;
    overflow: auto;
}

.green-button {
    background-color: #43a047;
    color: #fff;
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 6px;
    font-size: 0.8rem;
}

.right {
    float: right;
}

.left {
    float: left;
}

.button-div a:hover {
    background-color: #2e7d32;
    color: #fff;
}

.button-div a:visited {
    color: #fff;
}



/**
* Footer
*/
.outer-wrap-footer {
    max-width: 100%;
    min-height: 6em;
    background-color: #263238;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}



/**
* Responsive
*/
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
